* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.pdf-wrapper {
    margin-inline: auto;
    width: fit-content;
}

.pdf-img {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 1;
}

p {
    font-size: 13px;
    font-weight: 500;
}

.relative {
    position: relative;
}

.checkbox {
    width: 7px;
    height: 7px;
    display: block;
}

.checkbox.checked {
    background-color: #000;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.pdf-data {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding-inline: 22px;
}

.yes-no {
    width: 48.5px;
    height: 10px;
}

.dflex {
    display: flex;
}

.seal {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: -20px;
}

/* custom forms css*/



.pdf {
    width: 100%;
    font-family: "Inter", sans-serif;

}

.pdf .backupDoc {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #252525;
    padding: 8px 12px 8px 20px;
    border-radius: 0 0 10px 0;
    width: fit-content;
}

.pdf .county {
    background-color: #252525;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border-radius: 0 0 0 6px;
}

.pdf .county p {
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
}

.pdf .pdfwrapper {
    /* width: 100%; */
    padding: 20px;
}

.pdf .pdfwrapper .watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pdf .pdfwrapper .watermark p {
    font-size: 74px;
    font-weight: 700;
    color: #111111;
    transform: rotate(-45deg);
    opacity: 0.1;
    text-wrap: nowrap;
}

.pdf .pdfwrapper .pdfHeader .title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 4px;
    width: 100%;
}

.pdf .pdfwrapper .pdfHeader .leftPart {
    text-align: left;
    width: 40%;
}

.pdf .pdfwrapper .pdfHeader .leftPart p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
}

.col-100 {
    width: 100%;
}

.text-right {
    text-align: right;
}

.pdf .pdfwrapper .pdfHeader .right_part .centerPart {
    width: 65%;
    flex: 1;
}

.pdf .pdfwrapper .pdfHeader .right_part .centerPart .appliedValue {
    display: flex;
    width: 100%;
}

.pdf .pdfwrapper .pdfHeader .right_part .centerPart .appliedValue p {

    text-align: left;
}

.pdf .pdfwrapper .pdfHeader .right_part .centerPart .appliedValue p:first-child {
    width: 65%;
}

.pdf .pdfwrapper .pdfHeader .right_part .centerPart .appliedValue p:last-child {
    width: 35%;
}

.pdf .pdfwrapper .pdfHeader .right_part .centerPart p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
}

.pdf .pdfwrapper .pdfHeader .right_part {
    width: 60%;
    padding-left: 20px;
}

.pdf .pdfwrapper .pdfHeader .right_part .rightPart {
    width: 35%;
    padding-left: 20px;
    flex: 1;
}

.pdf .pdfwrapper .pdfHeader .rightPart p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
    margin-left: auto;
}

.fullSec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullSec p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
}

.fullSec .rightSec p {
    text-align: right;
}

.fullSec .leftSec {
    padding-left: 39px;
}

.pdf .pdfwrapper .pdfHeader .title .pdfDetail {
    display: flex;
}

.pdf .pdfwrapper .pdfHeader .title .pdfDetail h1 {
    font-size: 16px;
    font-weight: 600;
    color: #0171ad;
    margin: 0;
    padding-left: 10px;
}

.pdf .pdfwrapper .pdfHeader .title .pdfNo {
    font-size: 16px;
    font-weight: 600;
    color: #e87117;
    margin: 0;
    margin-left: auto;
}

.pdf .pdfwrapper .pdfHeader .contactDetail {
    display: flex;
    justify-content: space-between;
}

.pdf .pdfwrapper .pdfHeader .contactDetail p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
    margin: 0;
}

.pdf .pdfwrapper .companyPolicy {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #f2f4f7;
    border: 0.5px solid #d7dae0;
    border-radius: 10px;
}

.pdf .pdfwrapper .companyPolicy svg {
    height: 15px;
    width: 25px;
}

.pdf .pdfwrapper .companyPolicy p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
    margin: 0;
}

.pdf .pdfwrapper .vehicleInformation {
    padding: 8px 16px;
    margin-top: 9px;
    border: 0.5px solid #d7dae0;
    border-radius: 10px;
}

.pdf .pdfwrapper .vehicleInformation .tagline {
    font-size: 14px;
    font-weight: 600;
    color: #0171ad;
    margin: 0;
}

.pdf .pdfwrapper .vehicleInformation .vehicleDetails {
    display: flex;
    width: 100%;
    padding-top: 12px;
}

.pdf .pdfwrapper .vehicleInformation .vehicleDetails .vin,
.vehicleDetails .year,
.vehicleDetails .make,
.vehicleDetails .model,
.vehicleDetails .color {
    width: 20%;
}


.pdf .pdfwrapper .customerDetails {
    display: flex;
    width: 100%;
    padding-top: 12px;
}

.pdf .pdfwrapper .customerDetails .vin,
.customerDetails .year,
.customerDetails .make,
.customerDetails .model {
    width: 25%;
}


.pdf .pdfwrapper .vehicleIdentifier {
    font-size: 10px;
    font-weight: 600;
    color: #1a1c21;
    margin: 0;

}

.min-h-text {
    min-height: 11px;
}

.pdf .pdfwrapper .ownerLessorInfo {
    display: flex;
    align-items: stretch;
    gap: 9px;
}

.pdf .pdfwrapper .ownerLessorInfo .information {
    margin-top: 9px;
    padding: 8px 16px;
    border: 0.5px solid #d7dae0;
    border-radius: 10px;
    width: 50%;
}

.pdf .pdfwrapper .ownerLessorInfo .information h2 {
    font-size: 14px;
    font-weight: 600;
    color: #0171ad;
    padding-bottom: 12px;
}

.pdf .pdfwrapper .ownerLessorInfo .information .name,
.information .fien,
.information .address,
.information .mailingAddress {
    padding-bottom: 10px;
}

.pdf .pdfwrapper .lesseInfo {
    padding: 8px 16px;
    margin-top: 9px;
    border: 0.5px solid #d7dae0;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.pdf .pdfwrapper .lesseInfo h2 {
    width: 100%;
    color: #0171ad;
    padding-bottom: 12px;
    font-size: 14px;
}

.pdf .pdfwrapper .lesseInfo .information {
    width: 50%;
}

.pdf .pdfwrapper .lesseInfo .information h3 {
    color: #0171ad;
    padding-bottom: 10px;
    font-size: 10px;
}

.pdf .pdfwrapper .lesseInfo .information .name,
.fin,
.address,
.mailingAddress {
    padding-bottom: 10px;
}

.pdf .pdfwrapper .vehicleIdentify {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
    margin-bottom: 2px;
}



.pdf .pdfwrapper .lienInfo {
    padding: 8px 16px;
    margin-top: 9px;
    border: 0.5px solid #d7dae0;
    border-radius: 10px;
}

.pdf .pdfwrapper .lienInfo .lienHolder {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6px;
    padding-bottom: 8px;
}

.pdf .pdfwrapper .lienInfo .lienHolder p {
    font-size: 10px;
    font-weight: 600;
    color: #1a1c21;
    padding-right: 12px;
}

.pdf .pdfwrapper .lienInfo .lienHolder span {
    font-size: 10px;
    font-weight: 600;
    color: #1a1c21;
}

.pdf .pdfwrapper .lienInfo h2 {
    color: #0171ad;
    width: 100%;
    padding-bottom: 12px;
    font-size: 14px;
}

.pdf .pdfwrapper .lienInfo .information {
    width: 50%;
}

.pdf .pdfwrapper .lienInfo .information h3 {
    color: #0171ad;
    font-size: 10px;
    padding-bottom: 10px;
}

.pdf .pdfwrapper .lienInfo .information .name,
.fin,
.address,
.mailingAddress {
    padding-bottom: 10px;
}

.pdf .pdfwrapper .specialInfo {
    padding: 8px 16px;
    margin-top: 9px;
    background-color: #fafafa;
    border: solid #0171ad;
    border-width: 1px 1px 1px 4px;
    border-radius: 10px;
}

.pdf .pdfwrapper .specialInfo .upperPart {
    display: flex;
    padding-bottom: 8px;
    gap: 10px;
}

.pdf .pdfwrapper .specialInfo .upperPart .runnerNote {
    border: 0.5px solid #d7dae0;
    border-radius: 10px;
    padding: 6px 10px;
}

.pdf .pdfwrapper .specialInfo ul {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.pdf .pdfwrapper .specialInfo ul li {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
    padding-bottom: 3px;
}

.pdf .pdfwrapper .specialInfo h3 {
    font-size: 14px;
    font-weight: 600;
    color: #0171ad;
    margin-bottom: 12px;
}

.pdf .pdfwrapper .specialInfo p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
    padding-bottom: 3px;
}

/* fees detail and breakdown css */

.pdf .pdfwrapper .parentTable {
    border: 0.5px solid #d7dae0;
    margin-top: 9px;
    border-radius: 10px;
    overflow: hidden;

}

.pdf .pdfwrapper .feesDetail {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
}

.pdf .pdfwrapper .feesDetail th {
    padding: 8px 14px;
    background-color: #f9fafb;
    color: #5e6470;
    font-size: 9px;
    font-weight: 500;
    text-align: justify;
}

.pdf .pdfwrapper .feesDetail tr {
    border-bottom: 1px solid #eaecf0;
}

.pdf .pdfwrapper .feesDetail tbody tr:last-child {
    border-bottom: none;
}

.pdf .pdfwrapper .feesDetail tr td {
    font-size: 10px;
    font-weight: 400;
    color: #1a1c21;
    padding: 7px 14px;
}

.pdf .pdfwrapper .feesDetail .finalAmount {
    background-color: #f9fafb;
    border-bottom: 1px solid #d0d5dd;
    padding: 7px 14px;
}

.pdf .pdfwrapper .feesDetail .finalAmount th {
    font-size: 12px;
    font-weight: 600;
    color: #1a1c21;
}

.pdf .pdfwrapper .signature {
    margin-top: 9px;
}

.pdf .pdfwrapper .signature .lessorSign {
    margin-top: 20px;
    width: fit-content;
}

.pdf .pdfwrapper .signature .lessorSign .sign {
    border-top: 1px solid #d0d5dd;
    width: 225px;
    margin-top: 43px;
}

.pdf .pdfwrapper .signature .lessorSign p {
    font-size: 10px;
    font-weight: 400;
    color: #5e6470;
    font-style: italic;
    text-align: center;
}

.pdf .pdfwrapper .signature .signatureDate {
    display: flex;
    justify-content: space-between;
}

.pdf .pdfwrapper .backupsidebar {
    display: flex;
    gap: 15px;
}

.pdf .pdfwrapper .backupsidebar .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9px;
}

.pdf .pdfwrapper .backupsidebar .sidebar .col {
    padding-block: 15px;
}

.pdf .pdfwrapper .backupsidebar .sidebar p {
    font-size: 10px;
    font-weight: 700;
    color: #5e6470;
    word-break: break-all;
    width: 5px;
}


.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 10px;
}

.pl-3 {
    padding-left: 15px;
}

.pl-4 {
    padding-left: 20px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 10px;
}

.pr-3 {
    padding-right: 15px;
}

.pr-4 {
    padding-right: 20px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 15px;
}

.pt-4 {
    padding-top: 20px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-4 {
    padding-bottom: 20px;
}

.py-1 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.py-2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.py-3 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.py-4 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-4 {
    padding-left: 20px;
    padding-right: 20px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}


.rounded-lg {
    border-radius: 10px;
}

.borderD0 {
    border: 1px solid #D0D5DD;
}

.text34 {
    color: #344054;
}

.bgF2F4 {
    background-color: #F2F4F7;
}

.bg-darkTable {
    background-color: #475467;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.text-white * {
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}


.countyReport .details .table table th,
.countyReport .details .table table td {
    width: 33.33%;
}

.detailsTable td,
.detailsTable th {
    padding: 10px;
}

.detailsTable tr {
    border-bottom: 1px solid #EAECF0;
}

.tableTitle-Inside td {
    border-top: 1px solid #D0D5DD;
    border-bottom: 1px solid #D0D5DD;
    background-color: #F2F4F7;
}

.tableTitle-Inside td p {
    font-size: 14px;
}

.text5E6470 {
    color: #5E6470;
}

.text-0171AD {
    color: #0171AD;
}

.invoice-pdf h3 {
    font-size: 14px;
}

.col-2 {
    width: 50%;
}

.col-inr {
    height: 100%;
}

.strong1A1C21 strong {
    color: #1A1C21;
}

.p5E6470 p {
    color: #5E6470;
    margin-bottom: 2px;
}

.invoiceTable thead tr th {
    border-bottom: 1px solid #D0D5DD;
}

.justify-between {
    justify-content: space-between;
}

.detailedTable tr td:last-child {
    text-align: right;
}

.detailedTable tr td {
    padding: 7px 14px;
}

.detailedTable tr:not(:last-child) td {
    border-bottom: 1px solid #D0D5DD;
}

.estimatedTable tr td div {
    background-color: #F9FAFB;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px 14px;
    border-bottom: 1px solid #D0D5DD;
}

.estimatedTable tr td:last-child div {
    text-align: right;
}

.estimatedTable tr:last-child div {
    margin-top: 10px;
    border-bottom: none;
}

.estimatedTable tr:last-child {
    border-bottom: none;
}

.estimatedTable tr:last-child td {
    border-bottom: none;
}

.detailedTable {
    width: 100%;
}

.borderD7 {
    border: 0.5px solid #D7DAE0;
}

.invoice-pdf p {
    font-size: 10px;
}

.invoice-pdf .estimatedTable p {
    font-size: 10px;
}

.invoice-pdf .estimatedTable tbody p {
    color: #1A1C21;
}

.text5E6470 {
    color: #5E6470;
}

.text-0171AD {
    color: #0171AD;
}

.invoice-pdf h3 {
    font-size: 14px;
}

.col-2 {
    width: 50%;
}

.col-inr {
    height: 100%;
}

.strong1A1C21 strong {
    color: #1A1C21;
}

.p5E6470 p {
    color: #5E6470;
    margin-bottom: 2px;
}

.invoiceTable thead tr th {
    border-bottom: 1px solid #D0D5DD;
}

.justify-between {
    justify-content: space-between;
}

.lastDataRight table tbody tr td:last-child,
.lastDataRight table thead tr th:last-child {
    text-align: right;
}

.inoviceTable tr td,
.inoviceTable tr th {
    padding: 7px 14px;
}

.inoviceTable tr:not(:last-child) td,
.inoviceTable tr th {
    border-bottom: 1px solid #D0D5DD;
}

.inoviceTable table {
    width: 100%;
}

.borderD7 {
    border: 0.5px solid #D7DAE0;
}

.invoice-pdf p {
    font-size: 10px;
}

.invoice-pdf .estimatedTable p {
    font-size: 12px;
}

.mb-child-10>*:not(:last-child) {
    margin-bottom: 10px;
}
/* END*/
@media print {
    .myDiv {
        break-inside: avoid;
    }
}

.form-content {
    page-break-inside: avoid;
}

.page-break {
    page-break-before: always;
}